@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+CU:wght@100..400&display=swap');

body {
  font-family: 'Playwrite CU', sans-serif;
  background-color: #5dc3ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 70vh;
  box-sizing: border-box;
}

.card {
  margin: 3vh;
}

.card.outline {
  border: 0.15em dashed #202d7a;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}

.btn {
  margin-top: 2vh;
  padding: .8rem;
  border-radius: 5px;
  color: white;
  background-color: #202d7a;
  font-weight: bold;
  border: 2px solid #202d7a;
  display: inline-block;
}

.button,
#bet-button,
#help-button,
#reset-bet {
  font-family: 'Josefin Sans', sans-serif;
  height: auto;
  width: auto;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin: 5px;
  border-radius: 7px;
  transition: height 0.2s;
  transition: font-size 0.2s;

}

.button:hover,
#bet-button:hover,
#reset-bet:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
  height: 3rem;
  width: auto;
  font-size: 25px;
}

.button:active,
#bet-button:active,
#help-button:active,
#reset-bet:active {
  background-color: black;
  color: white;
}

#help-button {
  width: 100px;
}


#reset-bet-button {
  display: flex;
  justify-content: center
}

#help-directions {
  display: flex;
  justify-content: flex-start;
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px;
  border: 2px solid black;
}

#help-button-container,
#help-direction-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}


#how-to-play-blackjack {
  font-weight: bold;
}

#player {
  display: flex;
  justify-content: space-evenly;
}

#dealer {
  display: flex;
  justify-content: space-evenly;
}

h1 {
  display: block;
  font-weight: bold;
}

#player-cash {
  display: center;
}

.bet {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.red-text {
  color: rgb(210, 2, 2);
}

.green-text {
  color: darkgreen
}

.bet-chips {
  display: flex;
  justify-content: space-between;
}

.chip-button {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  padding: 1px;
}

.chip-button:hover {
  opacity: 0.5;
  background-color: black;
  border: 2px solid black;
  cursor: pointer;

}

img {
  height: 45px;
  display: center;
}